:root {
    --main-font:var(--'Roboto', sans-serif);
    --secondary-font:var(--'Raleway', sans-serif);
    --main-color:var(-- #212121);
    --secondary-color:var(-- #757575);
    --hover-color:var(-- orange);
}

body {
    font-family: var(--main-font);
}

/*===COMPONENTS===*/
.button {
    cursor: pointer;   
}

.button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
/*===END COMPONENTS===*/

/*===HEADER===*/
.nav-list-link,
.mail,
.phone-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-color);
    text-decoration: none;
}
.mail,
.phone-number {
    color: var(--secondary-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus {
    color: orange;
}


/*=== ENDHEADER===*/


