body {
    color: #757575;
    font-family: 'Roboto', 'Raleway', sans-serif;
    line-height: 1.5;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.nav-link {
color: #2196F3;
}

.nav-link :hover,
.nav-link :focus {
  color: orange;
}
.nav-link :active {
  color: red;
}

.button {
    cursor: pointer;
}
.main-title {
    font-family: 'Roboto';
    font-weight: 900, Black;
    font-size: 44px;
    line-height: 1.5;
}
.asset-title .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.asset-text {
    font-family: 'Roboto';sans-serif;
    font-weight: 400;
}
.title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: inherit;
}

